<?xml version="1.0"?>
<configuration>

    <appSettings />

  <connectionStrings>
    <add name="OracleConnectionString" connectionString="Data Source=oik;Persist Security Info=True;User ID=sbyt;Password=1;Unicode=True" />
    <add name="ODBCConnectionString" connectionString="Driver={Microsoft dBASE Driver (*.dbf)};DriverID=277;Dsn=Файлы dBASE;Dbq=D:\SBYT\UPLOAD\;defaultdir=D:\SBYT\UPLOAD\;" />
  </connectionStrings>
  
  
    <system.web>
        <compilation debug="true">

        </compilation>
        <!--
            Раздел <authentication> позволяет настроить параметры 
            режима проверки подлинности, используемого ASP.NET для проверки 
            подлинности пользователя, запрашивающего разрешение на доступ. 
        -->
        <authentication mode="Windows" />
        <!--
            Раздел <customErrors> служит для настройки действий, 
            выполняемых при возникновении необрабатываемой 
            ошибки во время выполнения запроса. В частности, 
            разработчик может задать html-страницы ошибок 
            для отображения вместо трассировки ошибки в стеке.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

      <customErrors mode="Off"/>



    </system.web>

  <system.web>
    <httpRuntime maxRequestLength="18000"/>
    <sessionState timeout="600"></sessionState>
  </system.web>

</configuration>
